<?xml version='1.0' encoding='utf-8'?>
<!-- gotcha - need the below declaration or may blow up at runtime -->
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->

		<property name="connection.url">jdbc:mysql://localhost:3306/kaggle_fb_t1</property>
		<property name="connection.username">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.password">password</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<property name="hbm2ddl.auto">validate</property>
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider
		</property>

		<!-- Store index in memory, so no index cleanup required after tests -->
		<!-- <property name="hibernate.search.default.directory_provider">
			org.hibernate.search.store.impl.RAMDirectoryProvider
		</property> -->
		
		<!-- Would set this in production application. Index stored on disk. -->
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.impl.FSDirectoryProvider</property> 
		<property name="hibernate.search.default.indexBase">/home/vee/temp/lucene/indexes</property>

		<!-- Define Hibernate entity mappings. Standard Hibernate stuff - not specific 
			to Hibernate Search. -->
		<mapping class="com.vee.multilabel.entity.Tag" />
		<mapping class="com.vee.multilabel.entity.Train" />
	</session-factory>
</hibernate-configuration>